<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>File converter/compressor</title>
<link rel="stylesheet" href="../static/style.css">
</head>
<body>

<label class="switch">
    <input type="checkbox" id="toggle">
    <span class="slider"></span>
</label>

<h2>File converter/compressor</h2>
    
<div class="toggleForm">
  <button class="value active-value" id="convertBtn">
    Convert
  </button>
  <button class="value" id="compressBtn">
    Compress
  </button>
</div>

<form id="convertForm" method="post" action="/convert" enctype="multipart/form-data">
<input type="file" id="fileInput" multiple required>
<select id="ext" required>
</select>
<button type="submit">Convert</button>
</form>
<form id="compressForm" enctype="multipart/form-data">
<input type="file" id="fileInput" multiple required>
<input type="text" id="size" placeholder="Enter the size in kb">
<select id="quality">
<option value="high">high</option>
<option value="medium">medium</option>
<option value="low">low</option>
</select>
<button type="submit">Compress</button>
</form>

<div id="responseDiv"></div>

<div id="loader-container">
<div class="loader">
</div>
</div>

<script src="../static/script.js"></script>
</body>
</html>
